
{% extends 'base.html' %}

{% block title %}Заказ №{{ data.id }}{% endblock %}

{% block content %}
<body class="body">
 <header class="header">
  <h1 class="h1">Описание товара</h1>
 </header>

 <main>
  <button class="button" onclick="history.back()">Назад</button>

  <img class="img" src="https://picsum.photos/600/400" alt="Картинка товара">

  <div class="description">
   <h1 class="h1">Наушники Sony WH-1000XM4</h1>
   <p class="p">Беспроводные наушники с шумоподавлением</p>
   <p class="p">Цена: 25 000 руб.</p>
   <p class="p">Характеристики:</p>
   <ul class="my-list">
    <li class="my-item">Bluetooth 5.0</li>
    <li class="my-item">Аккумулятор до 30 часов</li>
    <li class="my-item">Функция быстрой зарядки</li>
    <li class="my-item">Сенсорное управление</li>
   </ul>
  </div>
 </main>
</body>
{% endblock %}