{% extends 'base.html' %}

{% load static %}

{% block title %}Список товаров{% endblock %}

{% block content %}

    {% for product in products %}
        <div class="card">
        <div class="card-image"><img src="{% static product.image_url %}" alt="{{ product.title }}"></div>
            <div class="card-content">
            <h2 class="card-title">{{ product.title }}</h2>
            <p class="card-text">{{ product.description }}</p>
            <div class="btn-container">
                <button class="btn btn-buy">Купить</button>
                <a class="btn btn-info" href="{% url 'order_detail' product.id %}">Больше информации</a>
            </div>
            </div>
    </div>
    {% endfor %}

{% endblock %}


